*{
  margin: 0;
  padding: 0;
  color: black;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
@media (max-width: 487px) {
  .girls {
      position: fixed;
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
      opacity: 0.65;
  }
  .guy{
    position: fixed;
    top: 0;
    left: 0%;
    width: 50%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.65;
}
  .slider h1 {
      position: relative;
      z-index: 1;
  }

}